* {
  box-sizing: border-box;
  display: relatives;
}

.header {
  position: relative;
  width: 100%;
  height: 20vh;
  display: flex;
  background-color: #2988c9;
  border-radius: 5px;
  min-height: 160px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.header img {
  border-radius: 5px;
}
.header h1 {
  display: inline;
  position: absolute;
  left: 40%;
  top: 5vh;
  color: aliceblue;
  border-color: 1px rgba(0, 0, 0, 0.3);
}

.date {
  position: absolute;
  left: 30%;
}

.servers {
  position: relative;
  max-width: 20%;
  top: 10vh;
  left: 20%;
  float: left;
  padding-bottom: 10px;
  align-items: center;
}
.servers h2 {
  position: relative;
  font-size: 36px;
  left: 30%;
  margin-bottom: 10px;
}
.servers li {
  font-size: 24px;
  margin-bottom: 12px;
  list-style-type: none;
}

.servers li :hover {
  cursor: pointer;
}

.status {
  position: relative;
  max-width: 30%;
  top: 10vh;
  left: 40%;
  float: left;
  padding-bottom: 10px;
  align-items: center;
}

.status h2 {
  position: relative;
  font-size: 36px;
  left: 35%;
  margin-bottom: 10px;
}
.status li {
  padding: 2px 2px;
  font-size: 22px;
  margin-bottom: 10px;
  list-style-type: none;
}

.dead {
  background-color: rgba(255, 1, 1, 0.801);
  border-radius: 5px;
  border: rgba(0, 0, 0, 0.3);
}

.alive {
  background-color: rgba(13, 224, 13, 0.473);
  border-radius: 5px;
  border: rgba(0, 0, 0, 0.3);
}

.servers ul li:hover {
  cursor: pointer;
}

.port-status {
  background-color: rgba(0, 0, 0, 0.6);
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.port-list {
  background-color: rgba(41, 136, 201, 0.85);
  width: 4%;
  height: 26%;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 42%;
  left: 42%;
  border-radius: 5px;
}

.port-list ul {
  list-style: none;
  padding: 0;
}

.port-list ul li {
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0;
  width: 100%;
  text-align: center;
}

.active-port {
  color: rgba(13, 224, 13, 0.945);
}
.dead-port {
  color: rgba(255, 1, 1, 0.801);
}
