* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

.header {
  position: relative;
  height: 20vh;
  display: flex;
  margin: 10px 10px;
  background-color: #2988c9;
  border-radius: 5px;
  min-height: 160px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.header img {
  border-radius: 5px;
}
.header h1 {
  display: inline;
  position: absolute;
  left: 40%;
  top: 5vh;
  color: aliceblue;
}

.date {
  position: absolute;
  left: 30%;
}
.btn-container {
  position: absolute;
  height: 30px;
  width: 40px;
  left: 15%;
  top: 36vh;
}
.add-server-btn {
  position: relative;
  text-align: center;
  background-color: #2988c9;
  color: #fefefe;
  height: inherit;
  width: inherit;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  vertical-align: middle;
}
.btn-container .add-server-btn:hover {
  cursor: pointer;
}
.add-server-btn-focus {
  border: 2px solid #0b476e;
}
.btn-container .add-server-btn p {
  font-size: 26px;
  font-weight: 600;
  height: 100%;
  width: 100%;
}

.servers {
  position: relative;
  max-width: 20%;
  top: 10vh;
  left: 5%;
  float: left;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
}
.servers h2 {
  position: relative;
  font-size: 36px;
  left: 30%;
  margin-bottom: 10px;
}
.servers li {
  font-size: 24px;
  margin-bottom: 12px;
  list-style-type: none;
  border-radius: 5px;
}

.server-remove span {
  display: none;
  float: right;
  position: relative;
  color: #2988c9;
  border-radius: 50%;
  border-color: solid 2px #2988c9;
  margin-top: -38px;
  margin-right: -50px;
  height: 35px;
  width: 35px;
  padding: 2px 2px;
  text-align: center;
}
.server-remove span:hover {
  cursor: pointer;
}

.servers li :hover {
  cursor: pointer;
}

.server-focus {
  background-color: darkgray;
  perspective: 1000px;
  font-weight: bold;
  color: #fefefe;
}

.status {
  position: relative;
  max-width: 30%;
  top: 10vh;
  left: 15%;
  float: left;
  padding-bottom: 10px;
  align-items: center;
}

.status h2 {
  position: relative;
  font-size: 36px;
  left: 35%;
  margin-bottom: 10px;
}
.status li {
  padding: 2px 2px;
  font-size: 22px;
  margin-bottom: 10px;
  list-style-type: none;
}

.dead {
  background-color: rgba(255, 1, 1, 0.801);
  border-radius: 5px;
  border: rgba(0, 0, 0, 0.3);
}

.alive {
  background-color: rgba(13, 224, 13, 0.473);
  border-radius: 5px;
  border: rgba(0, 0, 0, 0.3);
}

.servers ul li:hover {
  cursor: pointer;
}

.port-status {
  background-color: rgba(0, 0, 0, 0.6);
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.port-list {
  background-color: rgba(41, 136, 201, 0.85);
  width: 4%;
  height: 26%;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 42%;
  left: 42%;
  border-radius: 5px;
}

.port-list ul {
  list-style: none;
  padding: 0;
}

.port-list ul li {
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0;
  width: 100%;
  text-align: center;
}

.active-port {
  color: rgba(13, 224, 13, 0.945);
}
.dead-port {
  color: rgba(255, 1, 1, 0.801);
}

/** ---------------------------- **/

.add-container {
  opacity: 0;
  z-index: -1;
  background-color: rgba(41, 136, 201, 0.95);
  border-top: 2px solid #eee;
  color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  transition: 0.6s ease;
  animation-name: modalopen;
  animation-duration: 0.6s;
}

.add-container form #server-input {
  width: 240px;
  font-size: 26px;
  padding: 5px 5px;
  border: none;
  height: 36px;
  border-radius: 5px;
  outline: none;
  margin: 10px 10px;
}

.add-container form #server-submit {
  height: 36px;
  font-size: 26px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #fefefe;
  color: #0b476e;
}
.close-btn {
  background: transparent;
  background-color: transparent;
  border: transparent;
  font-size: 38px;
  color: #fefefe;
  position: absolute;
  top: 20px;
  right: 20px;
}
.close-btn:hover {
  cursor: pointer;
}
.add-container.show {
  opacity: 1;
  z-index: 2;
}

.add-container #server-submit {
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
