<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Server Status</title>

    <link rel="stylesheet" href="static/style.css" />
    <link rel="shortcut icon" href="static/favicon.ico" />
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.1.min.js"
    crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.1.min.js"
    crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.2.1.min.js"
    crossorigin="anonymous"></script>
  </head>
  <body>
    <header id="header" class="header">
      <img src="static/ClearCube-Logo.png" />
      <h1>Server Monitor</h1>
    </header>
    <div class="date">
      <h1 id="date"></h1>
    </div>
    <div class="servers" id="servers">
      <h2>Servers
        <div class="btn-container">
          <div class="add-server-btn" id="add-server-btn">
            <p>+</p>
          </div>
        </div>
      </h2>
      <ul id="serverList" class="serverList"></ul>
    </div>
    <div class="status" id="status">
      <h2>Status</h2>
      <ul id="statusList">
        <!-- <li>Up since 2020-06-29 12:49</li>
        <li>Up since 2020-06-29 12:49</li>
        <li>Up since 2020-06-29 12:49</li>
        <li>Up since 2020-06-29 12:49</li>
        <li>Up since 2020-06-29 12:49</li>
        <li>Up since 2020-06-29 12:49</li> -->
      </ul>
    </div>
    <div id="port-status"></div>
    <div class="add-container" id="server-container">
      <div class="close-btn" id="modal-cls-btn">X</div>
      <h2>Enter the server to add</h2>
      <form id="server-form">
        <input
          type="text"
          name="server"
          id="server-input"
          placeholder="Server"
        />
        <input type="button" value="Submit" id="server-submit" />
      </form>
    </div>
    <div class="remove-container" id="remove-container">
      <div class="warning-container">
        <h2 id="server-warning-text">
          Are you sure you want to remove: 172.16.5.50
        </h2>
        <div class="yes-remove-btn" id="yes-remove-server"><h2>Yes</h2></div>
        <div class="no-remove-btn" id="no-remove-server"><h2>No</h2></div>
      </div>
    </div>
    <section class="log-section">
      <div class="log-text" id="log-text">
        <ul id="log-text-list">
          
          <!-- <li><span class="removed">up</span><p>Server 172.16.5.50 went up at Sep 11 2020 17:21</p></li>
          <li><span class="added">up</span><p>Server 172.16.5.50 went up at Sep 11 2020 17:21</p></li>
          <li><span class="down">down</span><p>Server 172.16.5.50 went up at Sep 11 2020 17:21</p></li>
          <li><span class="down">down</span><p>Server 172.16.5.50 went up at Sep 11 2020 17:21</p></li>
          <li><span class="up">down</span><p>Server 172.16.5.50 went up at Sep 11 2020 17:21</p></li>
          <li><span class="up">up</span><p>Server 172.16.5.50 went up at Sep 11 2020 17:21</p></li> -->
        </ul>
      </div>
    </section>
    <section class="temp-chart-section">
      <div class="temp-chart-box" id="tempChart">
        <script>
          async function getChart(){
            const response = await fetch('/getchart')
            const item = await response.json().then(item =>{
              Bokeh.embed.embed_item(item)
            })
            
          }
          getChart()
          setInterval(()=>{
            getChart();
          }, 60000)
          </script>
      </div>
    </section>
    <section class="tempSection" id="tempSection">
      <div class="temp-box"><h2>Temperature</h2><h2 id="temperature"></h2></div>
      <div class="humidity-box"><h2>Humidity</h2><h2 id="humidity"></h2></div>
    </section>
    <script src="static/script.js"></script>
  </body>
</html>
